.header a img{
    display: block;
    margin: auto;
}

table{
    border: 0;
    width: 90%;
    margin: auto;
}
table tr{
    background-color: #EEEEEE;
}
.tablo tr .ust{
    text-align: center;
}
.tablo tr .search{
    width: 200px;
}
.tablo tr .alt{
    text-align: center;
}
.tablo tr .sol{
    background-color: #7EE5DA;
}
.tablo tr .orta{
    background-color:#70CCC2 ;
}
.tablo tr .sag{
    background-color: #62B3AA;
}
.footer{
    text-align: center;
}